* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 596px) {
}

li,
a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
/* my nav bar flex box*/
.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #d5e8e7;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #e6397e;
}

.about {
  width: 100%;
  background-color: blue;
}

.about img {
  height: auto;
  width: 420px;
}

.about-text {
  width: 550px;
}

.about-main {
  width: 500px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
