/* need to add google fonts */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

li,
a {
  /* font-family: 
  font-weight: */
  font-size: 18px;
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #f2ece4;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.4s ease 0s;
}

.nav_links li a:hover {
  color: fuchsia;
}

.about {
  width: 100%;
  padding: 20px 0px;
  background-color: #faf7f2;
}

.about img {
  height: auto;
  width: 420px;
}

.about-text {
  width: 550px;
  margin-left: 20px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h1 {
  color: white;
  font-size: 80px;
  margin-bottom: 20px;
}

.about-text h5 {
  color: white;
  font-size: 25px;
  margin-bottom: 25px;
}

.about-text p {
  color: white;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

/* my projects css */
.projects {
  width: 100%;
  padding: 20px 0px;
  background-color: #f2ece4;
}
.proj-text {
  text-align: center;
  padding: 20px;
  font-size: 22px;
}

/* this css is the same as .main so change later */
.proj-main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* horiseons image */
.refactor img {
  height: auto;
  width: 800px;